.sportsWrapper {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background: url('../../assets/SportsPage/SportsBkg.png');
  background-size: cover;
}

.gamesWrapper {
  padding: 0 16%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5%;
}

.game {
  /* width: 32%; */
  position: relative;
}

.game img {
  width: 100%;
}

.gameContentWrapper {
  position: absolute;
  bottom: 12%;
  left: 5%;
  width: 50%;
  color: var(--lightColor);
}

.gamesButtonWrapper {
  width: 60%;
}